


<%= form_for @menu_item do |f| %>
<%= f.hidden_field :restaurant_id, :value => @menu_item.restaurant.id%>
<%= f.hidden_field :user_id, :value => @current_user.id%>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :price %>
<%= f.text_field :price %><br>
<%= f.label :description %>
<%= f.text_field :description %><br>
<%= f.select :meal, "<option>Breakfast</option><option>Lunch</option><option>Dinner</option>".html_safe%><br>
<%= f.label :cuisine %><br>
<%= f.collection_select(:cuisine_id, Cuisine.all, :id, :name, prompt: true) %><br>
<%= f.select :tag, "<option>Vegetarian</option><option>Vegan</option><option>Gluten Free</option><option>Includes Meat</option><option>Meat Optional</option>".html_safe %><br>
<button class="button">
<%= f.submit %>
</button>
<% end %>
