<div class="card">
  <header class="card-header">
    <p class="card-header-title is-size-3">
      <%= @menu_item.name %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p class="item has-text-weight-bold">Description:</p><br>
      <p><%= @menu_item.description%></p>
      <br>
      <h3 class="item has-text-centered">$<%= @menu_item.price %> <%=@menu_item.tag%></h3>
    </div>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item"><%=link_to "Menu", menu_path(@menu_item.restaurant)%></p>
    <% if (@current_user.id == @menu_item.user_id) || (@current_user.id == @restaurant.owner_id) %>
        <p class="card-footer-item"><%= link_to "Edit", edit_menu_item_path(@menu_item) %></p>
        <p class="card-footer-item"><a class="delete"></a></p>
    <%end%>
  </footer>
</div>
