
    <%=form_for @user do |f|%>
      <div class="field">
          <%=f.label :username%>
            <div class="control">
            <%=f.text_field :username%>
            </div>
      </div>
      <div class="field">
        <%=f.label :first_name%>
          <div class="control">
          <%=f.text_field :first_name%>
          </div>
      </div>
      <div class="field">
        <%=f.label :last_name%>
          <div class="control">
          <%=f.text_field :last_name%>
          </div>
      </div>
      <div class="field">
        <%=f.label :email%>
          <div class="control">
          <%=f.text_field :email%>
          </div>
      </div>
      <div class="field">
        <%=f.label :password%>
          <div class="control">
          <%=f.password_field :password%>
          </div>
      </div>
      <div class="field">
        <%=label_tag 'Confirm Password'%>
          <div class="control">
          <%=f.password_field :password_confirmation%>
          </div>
      </div>
      <a class="button is-success"><%=f.submit "Submit"%></a>
    <%end%>
