<h1><%=@user.username%></h1>

<ul>Name: <%= @user.full_name %><br>
    Email: <%= @user.email %><br>
    Account Created: <%= @user.created_at %><br>
    Last Updated: <%= @user.updated_at %><br>
</ul>

<h4><%=link_to 'View homepage', restaurants_path%></h4>