<section class="hero is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        VegOut
      </h1>
      <h2 class="subtitle has-text-centered">
        A community for vegetarians to find and review local restaurants.
      </h2>
    </div>
  </div>
</section><br>

  <h2 class="title is-size-5">Restaurant Spotlight</h2>
  <%= link_to @spotlight.name, restaurant_path(@spotlight) %>
  <br>

  <h2 class="title is-size-5">Looking for a new spot?</h2>
  <%= form_tag(by_cuisine_path, method: :get) do %>
    <%= label_tag(:cuisine, "Search by cuisine:") %>
    <%= select_tag :cuisine, options_for_select(Cuisine.all.map{|c| c.name}.uniq.sort) %>
    <%= submit_tag("Search") %>
  <% end %><br>

    <h2>Search restaurants by name:</h2>
    <%=form_tag(search_restaurant_name_path) do%>
      <%=text_field_tag :search_name%><br>
      <%=submit_tag 'Search'%>
    <% end %>


  <p class="title is-size-5">Highest Rated:</p>
  <ul>
    <% @top_rated.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
      <% end %>
  </ul><br>

  <p class="title is-size-5">Top Veggie Spots:</p>
  <ul>
    <% @top_veggie.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
      <% end %>
  </ul><br>




  <p class="title is-size-5">Most Recent Review:</p>

  <p>Restaurant: <%= link_to @most_recent_review.restaurant.name, restaurant_path(@most_recent_review.restaurant) %> by <%= @most_recent_review.user.username %></p>
  <p>Rating: <% @most_recent_review.rating.times do%>
    <i class="fas fa-star"></i>
    <%end%>
    <% (5-@most_recent_review.rating).times do %>
    <i class="far fa-star"></i>
    <%end%>
  </p>
  <p><%= @most_recent_review.content%></p><br>


  <h4 class="title is-size-6">Own a restaurant?</h4>
  <button class="button is-success"><%=button_to 'Add it here!', new_restaurant_path, method: :get%></button>
</div>
