<h1>Welcome to Veg-Out</h1>
<h3>A community for vegetarians to find and review local restaurants </h3>

<h2>Restaurant Spotlight</h2>
<%= link_to @spotlight.name, restaurant_path(@spotlight) %>

<p>Searh by Cuisine:</p>

<%= form_with(url: "/search", method: "get") do %>
  <%= label_tag(:cuisine, "Search by cuisine:") %>
  <%= select_tag :cuisine, options_for_select(@??.map{ |r| r.cuisine}) %>
  <%= submit_tag("Search") %>
<% end %>

<p>Highest Rated:</p>


<p>Most Recent Review:</p>
