<h1><%= @restaurant.name %></h1>
<h2>Menu:</h2>


<table style="width:80%">
  <tr>
    <th>Menu Item:</th>
    <th>Description:</th>
    <th>Price:</th>
  </tr>

    <% @menu_items.each do |item| %>
    <tr>
    <th><%= link_to item.name, menu_item_path(item) %></th>
    <th><%= item.description %></th>
    <th><%= item.price %></th>
    <%end%>
    </tr>
</table>
<%= link_to "Add to the Menu", add_menu_item_path(@restaurant)%><br>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant)%>
