<h1><%= @restaurant.name %></h1>
<h2>Menu:</h2>


<table style="width:80%">
  <tr>
    <th>Menu Item:</th>
    <th>Description:</th>
    <th>Price:</th>
  </tr>
  <tr>
    <% @menu_items.each do |item| %>
    <th><%= item.name %></th>
    <th><%= item.description %></th>
    <th><%= item.price %></th>
    <%end%>
    </tr>
</table>
<%= link_to "Add to the Menu", menu_items_path(restaurant_id: @restaurant.id), method=> :post %><br>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant)%>
