<section class="hero is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        <%= @restaurant.name %>
      </h1>
    </div>
  </div>
</section><br>

<article class="media">
  <figure class="media-left">
    <p>
      <i class="fas fa-phone"></i>
      <%= @restaurant.phone %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Description</strong> <strong><%= link_to "Menu", menu_path(@restaurant) %></strong>
        <br>
        <%= @restaurant.description %>
      </p>
    </div>
  </div>
  <div class="media-right">
    <h3>Info:</h3>
    <p>Avg Rating: <% @avgrating.times do%>
      <i class="fas fa-star"></i>
      <%end%>
      <% (5-@avgrating).times do %>
      <i class="far fa-star"></i>
      <%end%>
    </p>
      <p><% if @restaurant.accepts_reservation%>
        <%= link_to "Reservations", @restaurant.url %>
      <% end %>
      <% if @restaurant.onsite_parking %>
        <%= "Onsite Parking Available" %>
      <% end %></p>
  </div>
</article><br>

<%= link_to "Create a Review For This Restaurant", review_restaurant_path(@restaurant)%><br>

<h3 class="title is-size-5">Reviews:</h3>


  <% @restaurant.reviews.each do |review| %>
    <%@review = review%>
    <%= render "restaurants/reviews" %>
  <% end %>



<% if @current_user.id == @restaurant.owner_id %>
  <%=link_to 'Edit This Restaurant', edit_restaurant_path(@restaurant)%>
  <%=button_to 'Delete This Restaurant', restaurant_path(@restaurant), :method => :delete%>
<%end%>
