<%=form_for @review do |f|%>

    <%=f.hidden_field :restaurant_id, :value => @restaurant.id%>
    <%=f.hidden_field :user_id, :value => @current_user.id%>
    <div class="field">
      <%=f.label :title%>
      <div class="control">
        <%=f.text_field :title%>
      </div>
    </div>
    <div class="field">
      <%=f.label :rating%>
        <div class="control">
          <div class="select">
          <%=f.select :rating, options_for_select([1, 2, 3, 4, 5])%>
          </div>
        </div>
    </div>
    <div class="field">
      <%=f.label :price_range%>
        <div class="control">
          <div class="select">
            <%=f.select :price_range, options_for_select(['$', '$$', '$$$', '$$$$'])%>
          </div>
        </div>
    </div>
    <div class="field">
      <%=f.label :content%>
        <div class="control">
          <%=f.text_area :content%>
        </div>
    </div>
    <div class="field">
      <%=f.label :favorite_dish%>
      <div class="control">
        <div class="select">
          <%=f.collection_select(:favorite_dish, @restaurant.menu_items, :name, :name)%>
        </div>
      </div>
    </div>
    <a class="button is-success"><%=f.submit "Submit Review"%></a>
<%end%>
