<h1><%=@review.user.full_name%>'s Review of <%=@review.restaurant.name%></h1><br>
<br>
<br>
<h3><%=@review.title%></h3><br>
<br>
    <h3><%=@review.rating%>/5</h3><br>
<br>
    <h4><%=@review.price_range%></h4><br>
<br>
    <p><%=@review.content%></p><br>
<br>
    <h3>My Favorite Dish at <%=@review.restaurant.name%>:</h3><br>
    <h3><%=@review.favorite_dish%></h3>
    
