<section class="hero is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        <%=@review.user.username%>'s Review of <%=link_to @review.restaurant.name, restaurant_path(@review.restaurant.id)%>
      </h1>
    </div>
  </div>
</section><br>

<article class="media">
  <figure class="media-left">
    <p>
      <% if @review.rating == 1%>
        <i class="far fa-angry is-size-3"></i>
        <%elsif @review.rating == 2%>
        <i class="far fa-frown is-size-3"></i>
        <%elsif @review.rating == 3%>
        <i class="far fa-meh is-size-3"></i>
        <%elsif @review.rating == 4%>
        <i class="far fa-smile-beam is-size-3"></i>
        <%else%>
        <i class="far fa-grin-stars is-size-3"></i>
      <%end%>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%=@review.title%></strong> by <small><%= @review.user.username %></small>
        <br>
        <%= @review.content %>
      </p>
    </div>
  </div>
  <div class="media-right">
    <p> Rating: <% @review.rating.times do%>
        <i class="fas fa-star"></i>
        <%end%>
        <% (5-@review.rating).times do %>
        <i class="far fa-star"></i>
      <%end%></p>
        <% if @current_user.id == @review.user_id %>
            <p class="button"><%=link_to 'Edit', edit_review_path(@review)%></p>
            <a class="button is-success"><%=button_to 'Delete', review_path(@review), :method => :delete%></a>
          <%end%>


  </div>
</article>

<button class="button"><%= link_to "Back to Restaurant", restaurant_path(@review.restaurant)%></button>
