<h4><%=@review.user.full_name%>'s Review of <%=@review.restaurant.name%></h4><br>
<br>
<br>
<h2><%=@review.title%></h2><br>
    <ul><%=@review.rating%>/5</ul>
    <ul><%=@review.price_range%></ul>
    <p><%=@review.content%></p>
    <br>
    <ul>My Favorite Dish at <%=@review.restaurant.name%>:</ul>
    <ul><%=@review.favorite_dish%></ul>
    
<% if @current_user.id == @review.user_id %>
    <%=link_to 'Edit your post', edit_review_path(@review)%>
<%end%>