<!DOCTYPE html>
<html>
  <head>
    <title>VegOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
    <a class="navbar-item" href="/restaurants">
      VegOut
    </a>
    </div>
        <% if session[:user_id] %>
          <%= link_to("Login", login_path, class: 'navbar-item')%>
        <% else %>
          <%= link_to("Logout", logout_path, class: 'navbar-item')%>
        <% end %>
        <%= link_to("Home", restaurants_path, class: 'navbar-item')%>
      

    </nav>
      <div class="container">
            <%= yield %>
      </div>
  </body>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>VegOut</strong> by Travis Martin & Tyler Hueter
    </p>
  </div>
</footer>
</html>
